<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    <title>EyesDetector - Inicio</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Proyecto IA - EyesDetector</h1>
            <nav>
                <ul>
                    <li><a href="#" id="menu_activo">Inicio</a></li>
                    <li><a href="identificar.html" id="headermenu">Identificar</a></li>
                    <li><a href="enfermedades.html" id="headermenu">Enfermedades</a></li>
                    <li><a href="#" id="mode-switch">DAY☀️</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        <h2>Clasificador de enfermedades visuales</h2>
        <div class="content">
            <section class="description">
                <p>EyesDetector es una herramienta para ayudar a identificar una posible enfermedad visual.</p>
                <p>Dentro de las enfermedades que actualmente se pueden predecir:</p>
                <ul>
                    <li>Cataratas</li>
                    <li>Glaucoma</li>
                    <li>Retinoplastia Diabética</li>
                </ul>
                <p>De no presentar alguna enfermedad, usted esta sano. Consulte con su doctor para descartar cualquier enfermedad.</p>
                <p>El desarrollador de EyesDetector no se hace responsable.</p>
            </section>
            <section class="upload-box">
                <h3>Prueba EyesDetector ahora!</h3>
                <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
                    <label for="fileInput" class="upload-label">
                        agregar / soltar aquí una imagen
                        <input type="file" id="fileInput" name="file" accept="image/*" style="display:none;">
                    </label>
                    <button type="submit">Identificar</button>
                </form>
            </section>
        </div>
    </main>
    <script>
        // Función para aplicar el modo según la preferencia guardada
        function applyMode() {
            const isNightMode = localStorage.getItem('night-mode') === 'true';
            document.body.classList.toggle('night-mode', isNightMode);
            document.getElementById('mode-switch').textContent = isNightMode ? 'NIGHT🌙' : 'DAY☀️';
        }

        // Aplicar el modo al cargar la página
        applyMode();

        // Cambiar el modo al hacer clic
        document.getElementById('mode-switch').addEventListener('click', function(event) {
            event.preventDefault();
            const isNightMode = document.body.classList.toggle('night-mode');
            localStorage.setItem('night-mode', isNightMode);
            this.textContent = isNightMode ? 'NIGHT🌙' : 'DAY☀️';
        });
    </script>
</body>
</html>